.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    width: 1000px;
}

.wrapper {
    display: grid;
    width: 80%;
    grid-auto-rows: auto;
    grid-row-gap: 20px;
}

.subscribe img {
    width: 90px;
    height: 90px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.selectedPage {
    font-size: 22px;
    font-weight: bolder;
    margin: 0 5px;
    cursor: pointer;
}

.commonPage {
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
}