.wrapper {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
    background-color: bisque;
}

.warningField {
    height: 30px;
}

.inputField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submit {
    width: 250px;
    height: 50px;
    background-color: cadetblue;
    margin-bottom: 20px;
}

.valid {
    border: 3px solid darkgreen;
}

.notValidLogin {
    border: 3px solid darkred;
}