.friendsBar {
    grid-area: s;
    background-color: dodgerblue;
    padding-top: 10px;
    color: white;
}

.blocker {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 10px;
    flex-wrap: wrap;
}