.app-wrapper {
    display: grid;
    width: 1500px;
    margin: auto;

    grid-template-areas:
    "h h"
    "n c"
    "s c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 180px 1fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    grid-area: c;
    background-color: burlywood;
    padding: 20px;
}