.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogLink {
    text-decoration: none;
    color: dodgerblue;
}

.activeDialogLink {
    font-weight: bolder;
    color: blue;
}

.messages {
    color: white;
}
.avaStyle {
    width: 50px;
    height: 50px;
}

.dialogView {
    display: flex;
    align-items: flex-end;
    column-gap: 10px;
}