.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogLink {
    text-decoration: none;
    color: dodgerblue;
}

.activeDialogLink {
    font-weight: bolder;
    color: blue;
}

.messages {
    color: white;
}

.avaStyle {
    width: 50px;
    height: 50px;
}

.dialogView {
    padding: 5px;
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
}

.messagesArea {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: end;
}

.sentMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 5px;
}

.sentMessage button {
    background-color: mediumpurple;
}